<div [formGroup]="details" class="row mb-4 w-75 m-auto">
  <div class="h1">
    <i class="fa fa-user"></i> Customers Details
  </div>
  <div class="row mb-4">
    <div class="col">
      <label for="lastName">First Name</label>
      <input formControlName="firstName" type="text" class="form-control" placeholder="firstName">
    </div>
    <div class="col">
      <label for="lastName">Last Name</label>
      <input formControlName="lastName" type="text" class="form-control" placeholder="lastName">
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <label for="phone">Phone</label>
      <input formControlName="phone" type="text" class="form-control" placeholder="phone">
    </div>
    <div class="col">
      <label for="email">Email</label>
      <input formControlName="email" type="text" class="form-control" placeholder="email">
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12">
      <label for="address">Address</label>
      <input formControlName="address" type="text" class="form-control" placeholder="address" [disabled]="true">
    </div>
  </div>
  <div class="d-md-flex justify-content-md-center">
    <button routerLink="/customers" type="submit" class="btn btn-secondary">back</button>
  </div>
</div>
